	@page { /** printing **/
	  size: A4;
	  margin: 0;
	}
@media print {  /** printing **/
    html, body {
        width: 210mm;
        height: 297mm;        
    }
	.noPrint {
		display: none;
		
	}
    .page {
           margin: 0;
           border: initial;
           border-radius: initial;
           width: initial;
           min-height: initial;
           box-shadow: initial;
           background: initial;
           page-break-after: always;
    }
}
body {
	font-family: arial;
	margin: 0px;
}

table#studentsTable, table#arrivalsTable, table#dhammaSeatTable { /** id hardcoded in sp_tab.js */
	width:90%;
	border-collapse:separate;
	border-spacing: 2px;
	table-layout: fixed;
	
}


#studentsTable td.normal { /** the <td> cells of the students table, not the <div> */
    height: inherit !important;
    border: 0px solid gray;
    background-color: orange; 
    padding: 0px;
}	

#lettersTable td.letters {
    height: inherit !important;	
	border: 1px solid gray;
    padding: 0px;
}	

#dhammaSeatTable td.numbers_male{ 
	width:95%;
	border-collapse:separate;
	border-spacing: 2px;
    background-color: rgba(87,170,242,1); 
	border: 1px solid black;
}

#dhammaSeatTable td.numbers_female{ 
	width:95%;
	border-collapse:separate;
	border-spacing: 2px;
    background-color: rgba(125,199,113,1); 
	border: 1px solid black;
}

#dhammaSeatTable td.dhamma_seat{
	color: black; 
    padding: 10px;
    margin: 10px;
	border-collapse:separate;
	background-color: white;
	border-radius: 4px;
	border: 5px solid black;
}

.lettersTable_male td{
    background-color: rgba(87,170,242,1); 
}

.lettersTable_female td{
	background: rgba(125,199,113,1); 
}

.std{
	border: 0px dashed black;
	padding: 0px;
	background:  #FFFFFF ;
}

.old_male{
	border: 1px dashed black;
	padding: 0px;
	background:  snow ;
}

.new_male{
	border: 1px dotted black;
	padding: 1px;
	background:  snow;

}

.old_female{
	border: 1px dashed black;
	padding: 0px;
	background:  snow ;
}

.new_female{
	border: 1px dotted black;
	padding: 1px;
	background:  snow;

}


.no_std{
	border: 2px dotted black;
		padding: 3px;

	background:  #FFFFFF;
}

#course_venue{
	font-size: 20px;
}

#course_date_start{
	font-size: 14px;
}
#course_date_end{
	font-size: 14px;
}

#course_gender{
	text-align:center;
	font-size: 20px;
}
td .user_info{
	background: #f9ef93;
	display:block;
	text-align:center;
	margin:0 auto;
}

.main-container {
	display:flex; 
	justify-content: space-between;
	background: #EEEEEE;
}


table.legend{
	border: 2px solid black;
}

/* styles applied on method sp_tab.js->cellContent()*/
.given_name{
	font-size: 20pt;
}

.family_name{
	font-size: 14pt;
}

.age{
	font-size: 14pt;
	float:  right;
	
}

.big_sitserved{
	float:  right;
}

.sitserved{
  width: 100%;
}

/* end */


/* make drag container visible */
#redips-drag {
	display: table;
	float: left;
}

/* tables */
div#redips-drag table {
	margin: 0px;
	font-size: 20pt;
	text-align: center;
	border-radius: 4px; /* Opera, Chrome */
}

/* table cells */
div#redips-drag td {
	border-radius: 4px; /* Opera, Chrome */
	
	border: 0px solid navy;
	height: 1px;
	padding: 0px;
}

/* DIV elements */
.redips-drag {
	margin: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 12pt;
	text-align: left;
	width: 180px;
	height: 80px;
	/*line-height: 40px;*/
	/* background-color: white; */
	/* round corners */
	border-radius: 4px; /* Opera, Chrome */
	-moz-border-radius: 4px; /* FF */
	/*  background-color: #CDE1F2; */
	/* border: 1px solid SteelBlue; */
}

.joined{ /* student joined course after map was saved and now reloaded*/
	border: 3px solid pink;
}

.zepto_style_drag_class {
		-webkit-transform: scale(0.9);
		-moz-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9);
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	
.zepto_style_drop_class {
	-webkit-animation: drop 1s ease;
	-moz-animation: drop 1s ease;
	-ms-animation: drop 1s ease;
	-o-animation: drop 1s ease;
	animation: drop 1s ease;
}

	@keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}
	}

	@-moz-keyframes drop {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}

	}

	@-webkit-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}

	}

	@-ms-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}

	}

	@-o-keyframes "drop" {
		0%, 100% {
			background: #FF9933;
			color: #fff;
		}
		50% {
			color: #FF9933;
			background: #fff;
		}

	}


/* trash cell */
.redips-trash {
	color: white;
	background-color: SteelBlue;
	font-size: 15pt;
}

/* instructions  */
.instructions {
	float: left;
	border: 2px dashed LightBlue;
	display: table;
	margin-left: 15px;
	width: 220px;
	padding: 15px;
	color: #555;
	font-size: 12px;
	text-align: justify;
	background-color: #eee;
}